@import "compass/css3";

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}


.dashboard {
    section {
        &:nth-child(even) {
            background-color: black;
            color: white;
        }
        &:nth-child(odd) {
            background-color: white;
            color: black;
        }
    }
    .main-search-container {
        width: 50%;
        margin: 0 auto;
        .main-search-button {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            border-color: transparent;
            background: none;
            background-color: transparent;
            @include transition(color 0.1s linear, background-color 0.2s linear);
            color: black;
        }
    }
    .blog {
        background-color: rgba(215, 212, 212, 0.88) !important;
        .blog-collection {
            .blog-node {
                padding: 10px;
                border: 1px solid transparent;
                border-radius: 4px;
                transition: 0.2s;
            }
            &:hover {
                .blog-node {
                    margin-top: -10px;
                    border: 1px solid rgb(128, 128, 128);
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 5px;
                    background: rgba(232, 215, 215, 0.1);
                    transition: 0.3s;
                }
            }
        }
    }
    .btn-circle {
        width: 70px;
        height: 70px;
        margin-top: 15px;
        padding: 7px 16px;
        border: 2px solid #fff;
        border-radius: 35px;
        font-size: 40px;
        color: #fff;
        background: 0 0;
        @include transition(background 0.3s ease-in-out);
        &:hover, &:focus {
            outline: 0;
            color: #fff;
            background: rgba(255, 255, 255, 0.1);
            i.animated {
                -webkit-animation-name: pulse;
                -moz-animation-name: pulse;
                -webkit-animation-duration: 1.5s;
                -moz-animation-duration: 1.5s;
                -webkit-animation-iteration-count: infinite;
                -moz-animation-iteration-count: infinite;
                -webkit-animation-timing-function: linear;
                -moz-animation-timing-function: linear;
            }
        }
        i.animated {
            -webkit-transition-property: -webkit-transform;
            -webkit-transition-duration: 1s;
            -moz-transition-property: -moz-transform;
            -moz-transition-duration: 1s;
        }
    }
    .aboutus {
        .team-overlay {
            position: absolute;
            background-color: rgba(14, 150, 148, 0.8);
            padding: 5%;
            top: 0px;
            left: 100%;
            opacity: 0;
            @include transform(rotate(180deg));
            @include transition(all 500ms ease-in-out);
        }
    }
}
