@import "compass/css3";

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: auto;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    @include box-sizing(border-box);
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-font-smoothing: subpixel-antialiased;
    -o-font-smoothing: subpixel-antialiased;
    font-smoothing: subpixel-antialiased;
    font-smooth: always;
}

body {
    padding-top: 50px;
    .stretch {
        width: 100%;
        height: 100%;
    }
    .width100Percent {
        width: 100%;
    }
    .height100Percent {
        height: 100%;
    }
    .nowrap {
        white-space: nowrap;
    }
    .upperCase {
        text-transform: uppercase;
    }
    .capitalize {
        text-transform: capitalize;
    }
    .lowerCase {
        text-transform: lowercase;
    }
    .table {
        display: table;
        table-layout: fixed;
        @include box-sizing(border-box);
    }
    .tableCell {
        display: table-cell;
        vertical-align: top;
    }
    .tableRow {
        display: table-row;
        vertical-align: top;
    }
    .rightAligned {
        text-align: right;
    }
    .leftAligned {
        text-align: left;
    }
    .centerAligned {
        text-align: center;
    }
    .inlineBlock {
        display: inline-block;
    }
    .inline {
        display: inline;
    }
    .block {
        display: block;
    }
    .breakDiv {
        clear: both;
    }
    .floatRight {
        float: right;
    }
    .floatLeft {
        float: left;
    }
    .disabled {
        color: #aaa;
    }
    .hide {
        display: none;
    }
    .relative {
        position: relative;
    }
    .absolute {
        position: absolute;
    }
    .topAlign {
        vertical-align: top;
    }
    .middleAlign {
        vertical-align: middle;
    }
}
