@import "compass/css3";

//Font Size
$fontSize: 1.4rem;

//Color
$dark-gray: #999;
$darker-gray: #404040;
$blue: #3965ce;
$dark-blue: #2c4d9c;
$red: #dc3c1e;

// Confirmation Notification Background
$light-green: #f6fee6;

// Confirmation Notification Stroke
$green: #a5d001;

// Confirmation Icon
$dark-green: #4b9a18;

//FontSize
$fontSize: 1.4rem;
$fontSizeMinus1: $fontSize - 0.1;
$fontSizeMinus2: $fontSize - 0.2;
$fontSizePlus1: $fontSize + 0.1;
$fontSizePlus2: $fontSize + 0.2;
$pageTitle: 2.2rem;