<div class="container">
    <h1>Blog</h1>
    <div class="row centerAligned">

        <div class="col-md-4 blog-collection">
            <div class="blog-node">
                <img src="http://lorempixel.com/200/200/city/1/" alt="Texto Alternativo" class="img-circle img-thumbnail" />
                <h2>Admin Portal</h2>
                <p class="justifyAligned">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consequat, urna id vestibulum viverra,tellus felis rutrum erat, sit amet ultrices orci urna sit amet nunc.Fusce ut fringilla sem. Curabitur eget est vitae nulla eleifend ullamcorper et laoreet odio.
                </p>
                <a href="#" class="btn btn-primary lower">See Feature details</a>
            </div>
        </div>

        <div class="col-md-4 blog-collection">
        <div class="blog-node">
            <img src="http://lorempixel.com/200/200/city/2/" alt="Texto Alternativo" class="img-circle img-thumbnail">
            <h2>Project Portfolio</h2>
            <p class="justifyAligned">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consequat, urna id vestibulum viverra,tellus felis rutrum erat, sit amet ultrices orci urna sit amet nunc.Fusce ut fringilla sem. Curabitur eget est vitae nulla eleifend ullamcorper et laoreet odio.
            </p>
            <a href="#" class="btn btn-primary lower">See Feature details</a>
        </div>
    </div>

    <div class="col-md-4 blog-collection">
        <div class="blog-node">
            <img src="http://lorempixel.com/200/200/city/3/" alt="Texto Alternativo" class="img-circle img-thumbnail">
            <h2>Personal Website</h2>
            <p class="justifyAligned">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consequat, urna id vestibulum viverra,tellus felis rutrum erat, sit amet ultrices orci urna sit amet nunc.Fusce ut fringilla sem. Curabitur eget est vitae nulla eleifend ullamcorper et laoreet odio.
            </p>
            <a href="#" class="btn btn-primary lower">See Feature details</a>
        </div>
    </div>
    </div>

</div>
