<div class="contactus-container">
    <h2>Contact Us</h2>
    <div class="body-content">
        <div>Please send your compliments, hate mails or feedback to us here:</div>
        <form class="clearfix">
            <div class="columnLeft">
                <div class="row">
                    <span class="required">*</span>
                    <input type="text" placeholder="Name" class="form-control"/>
                </div>
                <div class="row">
                    <span class="required">*</span>
                    <input type="text" placeholder="Email" class="form-control"/>
                </div>
                <div class="row">
                    <span class="required">*</span>
                    <input type="text" placeholder="Capta" class="form-control"/>
                </div>
            </div>
            <div class="columnRight">
                <div class="row">
                    <textarea col="3" placeholder="Feedback"></textarea>
                    <span>Remaning Characters = 1500</span>
                </div>
                <input class="btn btn-primary" type="submit"/>
            </div>
        </form>
    </div>
    <div class="footer-navigation">
        <span>Goto Top</span>
        <span>^</span>
    </div>
</div>
