<div class="container">
        <div class="col-xs-12 col-md-4">
           <div class="navbar-text">© 2015 Education Cop – All Rights Reserved</div>

        </div>
        <div class="ol-xs-12 col-md-8">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Careers</a></li>
            <li><a href="#">Terms & Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
        </ul>
    </div>

  <!-- a href="http://youtu.be/zJahlKPCL9g" class="navbar-btn btn-danger btn pull-right">
  <span class="glyphicon glyphicon-star"></span>  Subscribe on YouTube</a> -->
</div>
