<main class="stretch dashboard">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <div class="bold">Project ER</div>

                </a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#multimedia">Multimedia</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Our Mission</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><button data-navigate-link ="/login" class="btn btn-secondary navbar-btn btn-sm">Log In</button></li>
              </ul>
            </div><!--/.nav-collapse -->

        </div>
    </nav>

    <section id="home" class="table stretch about centerAligned">
        <div class=" tableCell container middleAlign">
                <h1>Begin Your Search Here </h1>
                <div class="relative main-search-container">
                    <input class="form-control main-search-info-textbox" type="text" placeholder="This Feature is still under Construction" disabled>
                    <button type="submit" class="btn main-search-button">
                        <i class="fa fa-lg fa-lock"></i>
                    </button>
                </div>
                <h1>or <button data-navigate-link ="/signup" class="btn btn-secondary btn-sm">Sign up </button> for a personalized Experience</h1>
                <a href="#about" class="btn btn-circle page-scroll">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
        </div>
    </section>

    <section id="multimedia" class="stretch multimedia">
        <div class="container">
            <h1>multimedia</h1>
            <div class="clearfix">
                <div class="floatLeft">
                    <iframe width="560" height="315" src="//www.youtube.com/embed/OljkSVLIt6c" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="floatRight">
                     <iframe width="260" height="215" src="//www.youtube.com/embed/OljkSVLIt6c" frameborder="0" allowfullscreen></iframe>
                   <!--  <iframe width="260" height="215" src="//www.youtube.com/embed/OljkSVLIt6c" frameborder="0" allowfullscreen></iframe>
                    <iframe width="260" height="215" src="//www.youtube.com/embed/OljkSVLIt6c" frameborder="0" allowfullscreen></iframe> -->
                </div>
            </div>


        </div>
    </section>

    <section id="blog" class="stretch blog">
        <div class="container">
            <h1>Blog</h1>
            <div class="row centerAligned">

                <div class="col-md-4 blog-collection">
                    <div class="blog-node">
                        <img src="http://lorempixel.com/200/200/city/1/" alt="Texto Alternativo" class="img-circle img-thumbnail" />
                        <h2>Admin Portal</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consequat, urna id vestibulum viverra,
                               tellus felis rutrum erat, sit amet ultrices orci urna sit amet nunc.
                               Fusce ut fringilla sem. Curabitur eget est vitae nulla eleifend ullamcorper et laoreet odio.
                               Duis condimentum feugiat sollicitudin. Sed non lacinia turpis.
                               Proin gravida turpis consequat porta condimentum.
                               Nam consequat ultricies elit nec consectetur.
                        </p>
                        <a href="#" class="btn btn-success lower">See Feature details</a>
                    </div>
                </div>

                <div class="col-md-4 blog-collection">
                <div class="blog-node">
                    <img src="http://lorempixel.com/200/200/city/2/" alt="Texto Alternativo" class="img-circle img-thumbnail">
                    <h2>Project Portfolio</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consequat, urna id vestibulum viverra,
                          tellus felis rutrum erat, sit amet ultrices orci urna sit amet nunc.
                          Fusce ut fringilla sem. Curabitur eget est vitae nulla eleifend ullamcorper et laoreet odio.
                          Duis condimentum feugiat sollicitudin. Sed non lacinia turpis.
                          Proin gravida turpis consequat porta condimentum.
                          Nam consequat ultricies elit nec consectetur.
                    </p>
                    <a href="#" class="btn btn-success lower">See Feature details</a>
                </div>
            </div>

            <div class="col-md-4 blog-collection">
                <div class="blog-node">
                    <img src="http://lorempixel.com/200/200/city/3/" alt="Texto Alternativo" class="img-circle img-thumbnail">
                    <h2>Personal Website</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam consequat, urna id vestibulum viverra,
                           tellus felis rutrum erat, sit amet ultrices orci urna sit amet nunc.
                           Fusce ut fringilla sem. Curabitur eget est vitae nulla eleifend ullamcorper et laoreet odio.
                           Duis condimentum feugiat sollicitudin. Sed non lacinia turpis.
                           Proin gravida turpis consequat porta condimentum.
                           Nam consequat ultricies elit nec consectetur.
                    </p>
                    <a href="#" class="btn btn-success lower">See Feature details</a>
                </div>
            </div>
            </div>

        </div>
    </section>

    <section id="ourmission" class="stretch ourmission">
    </section>

    <section id="aboutus" class="stretch aboutus">
        <div class="container">
            <h1>About Us</h1>
        </div>
    </section>

    <section id="contactus" class="stretch contactus">
        <div class="container">
            <h1>Contact Us</h1>

            <div class="row">
              <div class="col-md-8">
                  <div class="well well-sm">
                      <form>
                      <div class="row">
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label for="name">
                                      Name</label>
                                  <input type="text" class="form-control" id="name" placeholder="Enter name" required="required">
                              </div>
                              <div class="form-group">
                                  <label for="email">
                                      Email Address</label>
                                  <div class="input-group">
                                      <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                      </span>
                                      <input type="email" class="form-control" id="email" placeholder="Enter email" required="required"></div>
                              </div>
                              <div class="form-group">
                                  <label for="subject">
                                      Subject</label>
                                  <select id="subject" name="subject" class="form-control" required="required">
                                      <option value="na" selected="">Choose One:</option>
                                      <option value="service">General Customer Service</option>
                                      <option value="suggestions">Suggestions</option>
                                      <option value="product">Product Support</option>
                                  </select>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label for="name">
                                      Message</label>
                                  <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required" placeholder="Message"></textarea>
                              </div>
                          </div>
                          <div class="col-md-12">
                              <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                                  Send Message</button>
                          </div>
                      </div>
                      </form>
                  </div>
              </div>
              <div class="col-md-4">
                  <form>
                  <legend><span class="glyphicon glyphicon-globe"></span>&nbsp;Our office</legend>
                  <address>
                      <strong>Project ER</strong><br>
                      Head Office In BAngalore<br>
                      Bangalore, KA 560103<br>
                      <abbr title="Phone">
                          P:</abbr>
                      (080) XXX-XXXX
                  </address>
                  <address>
                      <strong>Full Name</strong><br>
                      <a href="mailto:#">project.er@projecterlabs.com</a>
                  </address>
                  </form>
              </div>
            </div>
        </div>
    </section>

</main>

