<div class="container">
    <h1>Multimedia</h1>
    <div class="row">
      <div class="col-md-4">
          <embed src="//www.youtube.com/embed/OljkSVLIt6c" frameborder="0" allowfullscreen></embed>
          <embed src="//www.youtube.com/embed/OljkSVLIt6c" frameborder="0" allowfullscreen></embed>
          <embed src="//www.youtube.com/embed/OljkSVLIt6c" frameborder="0" allowfullscreen></embed>
      </div >
      <div class="col-md-8">
          <div class="embed-responsive embed-responsive-16by9">
              <iframe src="//www.youtube.com/embed/OljkSVLIt6c" frameborder="0" allowfullscreen></iframe>
          </div>
      </div>
    </div>
</div>
