<div class="container profileView-container">
    <h2 class="centerAligned"> My profile</h2>
    <div class="col-md-12">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="firstName" class="col-sm-3 control-label">First Name</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="firstName" placeholder="Email">
                </div>
            </div>
        </form>
    </div>

</div>
