<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <div class="bold">Project ER</div>

            </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#multimedia">Multimedia</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Our Mission</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><button class="btn btn-secondary navbar-btn btn-sm">Sign In</button></li>
          </ul>
        </div><!--/.nav-collapse -->

    </div>
</nav>

<section id="home" class="table stretch about centerAligned">
    <div class=" tableCell container middleAlign">
            <h1>Begin Your Search Here </h1>
            <div class="relative main-search-container">
                <input class="form-control main-search-info-textbox" type="text" placeholder="This Feature is still under Construction">
                <button type="submit" class="btn main-search-button">
                    <i class="fa fa-lg fa-lock"></i>
                </button>
            </div>
            <h1>or <button class="btn btn-secondary btn-sm">Sign up </button> for a personalized Experience</h1>
    </div>
</section>

<section id="Multimedia" class="stretch multimedia">
    <div class="container">
        <h1>multimedia</h1>
    </div>
</section>
