<div class="stretch table">
    <div class=" tableCell container middleAlign">
        <h1>Begin your search here. </h1>
        <div class="relative main-search-container">
            <input class="form-control main-search-info-textbox" type="text" placeholder="This feature is currently under construction…" disabled>
            <button type="submit" class="btn main-search-button">
                <i class="fa fa-lg fa-lock"></i>
            </button>
        </div>
        <h1>Or <button style="margin-top: -10px;" data-navigate-link ="/signup" class="btn btn-primary btn-lg"><span style="font-size: 18px;font-weight: 400;">Sign Up</span></button> for a personalized experience.</h1>
        <a href="#about" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
        </a>
    </div>
</div>
