<div class="signup-container">
    <form>
    <h3>Enter Your Details:</h3>
    <div class="row">
        <input class="form-control" type="textbox" placeholder="Full Name"/>
    </div>
    <div class="row">
        <input class="form-control" type="textbox" placeholder="Email Address"/>

    </div>
    <div class="row">
        <input class="form-control" type="textbox" placeholder="Password"/>
    </div>
    <div class="row">
        <input class="form-control" type="textbox" placeholder="Confirm Password"/>
    </div>
    <div class="row">
        <span>Complete Your Profile:</span>
        <span>
            <input type="radio" name="nowLater" value="Now"/>
            <input type="radio" name="nowLater" value="Later"/>
        </span>
    </div>
    <div class="row">
        <input type="checkbox" />
        <span> I accept the <a href="#">Terms & Conditions</a>of Project ER</span>
    </div>
    <input class="btn btn-primary" type="submit" value="Sign Up"/>
    </form>
    <div>
        Already have an account? Click here to <a href="#/login">Log In</a>
    </div>
</div>
