<article class="fixed" style="top:35%">
    <div class="socialIcons">
         <a class="block" target="_blank" href="https://www.facebook.com/educationcop">
            <i id="social" class="fa fa-facebook-square fa-3x social-fb" ></i>
        </a>
        <a class="block" target="_blank" href="https://twitter.com/educationcop">
            <i id="social" class="fa fa-twitter-square fa-3x social-tw"></i>
        </a>
        <a class="block" target="_blank" href="https://plus.google.com/+educationcop">
            <i id="social" class="fa fa-google-plus-square fa-3x social-gp"></i>
        </a>
        <a class="block" target="_blank" href="mailto:support@educationcop.com">
            <i id="social" class="fa fa-envelope-square fa-3x social-em"></i>
        </a>
    </div>
</article>
